
 
 *{
    /* border: 2px solid black; */
    list-style: none;
    margin: 0;
    padding:0;

 }


   body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }

 
  .top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fff;
    padding: 5px 15px;
    border-bottom: 1px solid #ddd;
    gap: 20px;
  }

  
  .search-container {
    display: flex;
    border: 2px solid #0056a3; 
    padding: 0;
  }
  .search-container input[type="text"] {
    border: none;
    padding: 7px 10px;
    width: 220px;
    font-size: 14px;
    outline: none;
  }
  .search-container button {
    background-color: #0056a3;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0 12px;
    font-size: 18px;
  }

  
  .login-signup {
    display: flex;
    align-items: center;
    color: #000;
    font-weight: normal;
    cursor: pointer;
    user-select: none;
    font-size: 14px;
  }
  .login-signup svg {
    margin-left: 5px;
    width: 18px;
    height: 18px;
    fill: #000;
  }

  
  .language-selector, .currency-button {
    border: 1px solid #0056a3;
    background-color: white;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 3px 7px;
    gap: 5px;
    user-select: none;
  }
  .language-selector select {
    border: none;
    outline: none;
    font-size: 14px;
    cursor: pointer;
    padding: 0;
    background: transparent;
    appearance: none;

  }
  .language-selector img, .currency-button img {
    width: 22px;
    height: 15px;
    display: block;
  }
  .language-selector::after {
    content: "▼";
    font-size: 10px;
    color: #0056a3;
    margin-left: 3px;
  }

  
  .currency-button {
    padding-left: 5px;
    padding-right: 10px;
    font-weight: bold;
  }

  
  header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  
  .logo img {
    height: 36px;
  }

  
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 25px;
  }
  nav ul li {
    position: relative;
  }
  nav ul li a {
    text-decoration: none;
    color: #0056a3;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
  }

  
  nav ul li.has-dropdown > a::after {
    content: " ▼";
    font-size: 12px;
    color: #0056a3;
    margin-left: 3px;
  }


 /* mid */
 body {
      margin: 0;
      box-sizing: content-box;
      padding: 0;
      text-decoration: none;

      font-family: Arial, sans-serif;
      background: white;
      color: #1a57b8;
      
    }
    .secfstwid{
        width: 1400px;
        margin: auto;
    }


    .fst-sec {
      background-color: #1a57b8;
      padding: 2rem 0;
      text-align: center;
      color: white;
      width: 100%;
      margin: auto;
    }
    .fst-sec h1 {
      font-weight: 600;
      font-size: 24px;
      background-color: rgba(255, 255, 255, 0.3);
      display: inline-block;
      padding: 0 10px;
      margin-bottom: 5px;
    }
    .fst-sec nav {
      font-size: 10px;
      color: white;
    }
    .fst-sec nav span {
      margin: 0 5px;
    }
    .main-image {
      max-width: 900px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 0;
      position: relative;
    }
   

    .text-overlay b {
      font-weight: 700;
    }
    .text-overlay small {
      font-weight: 400;
      font-size: 0.9rem;
      color: #bdbdbd;
      font-family: Arial, Helvetica, sans-serif;
      display: block;
      margin-top: 7px;
    }
    .content {
      max-width: 900px;
      margin: 0 auto;
      text-align: center;
      padding: 0 10px 2rem 10px;
    }
    .content h2 {
      font-weight: 600;
      margin-bottom: 10px;
    }
    .content p {
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 1rem;
    }
    .buttons {
      display: inline-flex;
      gap: 10px;
    }
    .btn {
      font-size: 13px;
      padding: 10px 18px;
      border-radius: 3px;
      cursor: pointer;
      border: 1px solid #1a57b8;
      transition: background-color 0.3s, color 0.3s;
      font-weight: 500;
    }
    .btn-primary {
      background-color: #1a57b8;
      color: white;
      border: 1px solid #1a57b8;
    }
    
    .btn-secondary {
      background-color: white;
      color: #1a57b8;
      border: 1px solid #1a57b8;
    }
  

    .third-sec{
        width: 1400px;
        margin: 20px auto;
        display: flex;
        



    }
    .trdsec-1{
        width: 50%;

        
    }
    .trds1-first{
        width: 100%;
    }
    .trds1-first h1{
        height: 40px;
        color:skyblue;
        margin: 10px 0px;
        font-weight: bold;
    }
    .trds1-first p{
         height: 250px;
         color: black;
         margin: 10px 0px;
    }
    .trds1-second button{
        width: 200px;
        height: 50px;
        border: 2px solid black;
        border-radius: 15px ;
        background: lightblue;
    }
    .trdsec-2 {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .trdsec-2 img{
        width: 70%;
        
        
    }
    .fourth-sec{
  
        width: 100%;
        

    }
    .frtsec-fst{
        width: 1400px;
        margin:20px auto;
      
    }
    .frtsec-fst p{
        color: black;
        padding: 10px 0px;
    }
    .frtsec-sec{
        width: 1400px;
        display: flex;
        justify-content: space-between;
        margin:10px auto;
    }
    .frtss-child1{
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .frtss-child2 {
        width: 50%;
        
    }
    .frtss-child2 h1{
        font-size: 40px;
        font-weight: bold;
        
    }
    .frtss-child2 p{
        color: black;
        width: 100%;

    }
    .frtsec-third{
        width: 1400px;
        margin:30px auto;
        display: flex;
        justify-content:center ;
        align-items: center;

    }
    .frtsec-fourth{
        width: 1400px;
        margin: 40px auto;


    }
     .frtsec-fourth h1{
        width: 100%;
        margin: 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: skyblue;

    }

    .frtsec-fourth p{
        width: 100%;
        margin: 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        color:  black;

    }
    .fsf-1{
        width: 1400px;
        margin: 20px auto;
        display: flex;
        gap: 10px;
    }
    .fsf1-1 {
       text-align: left;
    }

    /* footer */

    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif ;
}




.fotter-top-section{
    width: 100%;
    margin: auto;
    background-color:#F5F5F5;
}
.footer-top-section-container{
    width: 1400px;
    height: 461px;
    margin: auto;
    
}
.footer-top-section-row1{
    width: 1140px;
    height: 391px;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;

}
.footer-top-section-row1 h2{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 15px;

    
}
.footer-top-row2{
    width: 1140px;
    display: flex;
    justify-content: space-around;
    gap: 20px;

}
.box1-footer-top-row2{
    width: 381px;
     height: 280px; 
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.05);
    padding: 15px;
    border-radius: 20px;
}
.box1-footer-top-row2 h5{
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 20px;
}
.box1-button-section{
    display: flex;
    gap: 12px;
    margin-bottom: 30px;

}
.box1-button-section button{
    border: none;
    background-color: rgba(23, 92, 255, 0.15);
    color: #1571cc;
    line-height: 13px;
    font-weight: 600;
    font-size: 13px;

}
.box1-footer-top-row2 h4{
    font-weight: 600;
    line-height: 29px;
    font-size: 16px;
    color: #1571cc;
    margin-bottom: 20px;
}
.box1-footer-top-row2 p{
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
}
.fotter-top-second-section{
    width: 100%;
    margin: auto;
    background-color: #fff;
}
.footer-top-second-section-container{
    width: 1400px;
    margin: auto;
    /* height: 837px; */
    padding: 45px 0px;


}
.footer-top-second-section-row1{
    margin: auto;
    display: flex;
    justify-content: center;

}
.left-footer-top-section-row1{
    width: 600px;
    height: 747px;
    padding: 0px 40px 0px 15px;
}
.left-footer-top-section-row1 h3{
    font-size:25px ;
    color: #1571cc;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 17px;

}
.description{
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 10px;

}
.logo-img-section{
    display: flex;
}
.img-section{
    width: 252px;
    height:173px ;

}
.icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 18px;
    background-color: #DAEDFF;
    border-color:#DAEDFF ;
    color: #1571cc;
    font-size: 24px;
    margin-bottom: 25px;
    text-align:center;

}
.img-section h3{
    font-size: 16px;
    margin-bottom: 14px;


}
.img-section p{
    color: #1571cc;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}

.right-footer-top-section-row1{
    width: 585px;
    height:747px ;
    background-color: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    margin: 0px 15px 0px 0px;
    padding:40px 40px 40px 40px ;


}
.right-footer-top-section-row1 h3{
    margin-bottom: 25px;
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
    color: #1571cc;
}
.inp-container{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 38px;
}
.input-sec label{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}
.input-sec label span{
    color: red;
}
.input-sec input{
    width: 240px;
    height: 40px;
    padding: 0 15px;
    border: 2px solid #1571cc;
    border-radius: 6px;
    background-color:transparent ;
    font-size: 15px;
    line-height: 40px;
}
.textarea-sec label{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.textarea-sec textarea{
    width: 461px;
    height: 130px;

    margin-bottom: 20px;
    border: 2px solid #1571cc;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    border-radius: 6px;
    background-color: transparent;
}
.cheakbox{
    margin-bottom: 20px;
}
.cheakbox input{
    margin-right: 10px;
}
.btn-sec{
    width: 200px;
    height: 52px;
    padding: 11px 41px;
    
    background-color: #1571cc;
    border: 2px solid #1571cc;

}
.btn-sec button{
    background-color: #1571cc;
    border: none;
    color: #fff;
}
.footer-top-third-section{
    width: 100%;
    margin: auto;
    background-color:#1571CC;
}
.footer-top-third-section-container{
    width: 1400px;
    margin: auto;
    /* height: 267px; */
    padding: 35px 0px 35px 0px;
    
}
.footer-top-third-section-container h3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 7px;
}
.footer-top-third-section-container h2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: 30px;
    font-size: 25px;
    margin-bottom: 17px;

}
.emaail-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.emaail-btn input{
    width: 390px;
    height: 54px;
    padding: 17px 25px;
    border: 2px solid rgba(255, 255, 255, 0.302);
    border-radius: 5px;
    font-size: 15px;
    line-height: 19px;
    margin-right: 20px;

}
.emaail-btn span{
    width: 152px;
    height: 54px;
    border:2px solid white ;
    border-radius: 5px;
    padding: 15px 30px;
    background-color: #1571CC;



}
.emaail-btn span button{
    color: white;
    background-color: #1571CC;
    text-align: center;
    border: none;
    font-size: 14px;

}
.footer{
    margin: auto;
    width: 100%;
    background-color: #373a5b;
    border-top: 1px solid #999aa8;
    border-bottom: 2px solid #999aa8;
}
.footer-container{
    width: 1400px;
    /* height: 405px; */
    margin: auto;
    padding-top: 15px;
    margin-bottom: 15px;
    
}
.footer-box{
    width: 1176px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.box1-footer{
    width: 300px;
}
.box1-footer h4{
    margin-bottom: 25px;
    color:white;
    font-size: 20px;
    font-weight: 600;
}
.box1-footer p{
    color: white;
    margin-bottom:20px;

}
.box2-footer h4{
    margin-bottom:25px ;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.ul-list-footer li{
    margin-bottom: 10px;
    color: white;
    /* line-height: 26px; */
    /* font-weight: 400; */
    font-size: 15px;
}
.footer-last{
    width: 100%;
    margin: auto;
 background-color: #373a5b;
}
.footer-last-container{
    padding-top: 20px;
    width: 1176px;
    height: 83px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.copyright p{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer-social-link{
    display: flex;
}
.footer-social-link li{
    width: 35px;
    height: 35px;
    padding: 5px 5px;
    border: 2px solid white;
    margin-right: 7px;
    list-style: none;
    
}
.footer-social-link li a{
    color: white;
}
    
    
 


    






     



